private
doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.example-2.tst
doc/manual.example-3.tst
doc/manual.example-4.tst
doc/manual.example-5.tst
doc/manual.idx
doc/manual.ilg
doc/manual.ind
doc/manual.lab
doc/manual.log
doc/manual.pdf
doc/manual.six
doc/manual.toc
doc/manual.tex
doc/manual.synctex.gz
htm
PackageInfo.g
index.html
README
*.bz2
doc/manual.in.aux
doc/manual.in.example-2.tst
doc/manual.in.example-3.tst
doc/manual.in.example-4.tst
doc/manual.in.example-5.tst
doc/manual.in.idx
doc/manual.in.lab
doc/manual.in.log
doc/manual.in.pdf
doc/manual.in.six
doc/manual.in.synctex.gz
doc/manual.in.toc
doc/manual.in.ilg
doc/manual.in.ind
IrredSolConst
doc/summary.log